.product-navigation {
    position: fixed;
    top: 50%; /* Centra verticalmente /
    left: 5%;
    width: 280px; / Ancho del menú de navegación */
    height: 70%;
    padding: 20px;
    transform: translateY(-50%);
}

.product-navigation h2 {
    margin-bottom: 20px;
}

.sub-title {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;

}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.2em;
}
h2 {
    color: #900C3F; 

}
.circle-button {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: #900C3F; 
    color: #fff; 
    border: none; 
    cursor: pointer;
    
}

.list-unstyled {
    padding-left: 20px;
    margin-top: 10px;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#products {
    gap: 5rem;
}

footer{
    justify-content: center;
}


.card-product__header {
    height: 300px;
}

.card-product__image {
    width: 300px;
    height: 300px;
    max-width: 100%; /* Ajusta según sea necesario */   
    border-radius: 30%; 
}

.button-cart__image{
    color: #ffffff;
    background-color: #900C3F;
    width: 80px;
    height: 40px;
}
