body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.card {
    margin: 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    
    
}

.img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.col > .text-center {
    margin-bottom: 1rem;
    }

form {
background-color: #fff;
padding: 2rem;
border-radius: 0.5rem;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"] 
input[type="tel"],
input[type="password"] 
{
border: 1px solid #ccc;
border-radius: 0.25rem;
padding: 0.5rem;
}

input[type="checkbox"] {
margin-right: 0.5rem;
}

.btn-primary {
background-color: #900C3F;
border-color: #900C3F;
}

.btn-primary:hover {
background-color: #872341;
border-color: #872341;
}

hr{
    border: none;
    height: 2px;
    background-color: black;
    margin: auto;
    width: 70%;
}    

a {
color: #900C3F;
}

a:hover {
text-decoration: underline;
}

.btn-outline-primary {
border-color: #900C3F;
color: #900C3F;
}

.btn-outline-primary:hover {
background-color: #872341;
border-color: #872341;
color: #fff;
}
.container{
    margin: 1.5rem;
}