* {
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --main-color: #900c3f;
    --text-color: #030100;
    --bg-color: #575656;
    --color: #fbf8f8;
}

.page-title {
    color: var(--main-color);
}

#list-products {
    position: relative;
    margin-bottom: 100px;
}

.total-products {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar-brand {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
}

.btn-outline-secondary {
    display: flex;
    margin: 1.5rem 0 0 0; /* Alinea el botón a la izquierda */
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-outline-secondary:hover {
    background: var(--text-color);
}

.btn-buy-now {
    background-color: var(--main-color);
    color: var(--color);
}

.btn-primary:hover {
    background: var(--text-color);
}

.btn-danger {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.product-box:hover {
    padding: 10px;
    transition: 0.4s;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

/* .add-cart:hover {
    background: hsl(249, 32%, 17%);
} */

.product__container {
    height: 80px;
    width: 60px;
}

.product__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
