*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.div-main{
    width: 100%;
    max-width: 400px;
}

.img-user{ 
   background-color: #ffffff;
   width: 100%;
   height: 200px;
   text-align: center;
   
}

.img-user img {
   width: 60%;
   height: 100%;
   object-fit: scale-down;
 }

form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"] {
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.btn-primary {
    background-color: #900C3F;
    border-color: #900C3F;
    
}

.btn-primary:hover {
    background-color: #872341;
    border-color: #872341;
}
.p-options{
    margin: 1.25rem;
}

a {
    color: #900C3F;
}

a:hover {
    text-decoration: underline;
}

