li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

/* article {
    border: 1px solid red;
} */

.sub-title {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #900c3f;
    font-weight: 500;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.2em;
}

h2 {
    color: #900c3f;
    font: bold;
    margin-top: 10px;
}

.circle-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f1f2;
    color: #0a0a0a;
    border: 2px solid #900c3f;
    cursor: pointer;
}

.sidebar {
    display: none;
}

.filter-btn {
    background-color: transparent;
    border: none;
}

.filter-bar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.card-product__header {
    height: 300px;
}

.card-product__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-cart__image {
    background-color: #900c3f;
    display: flex;
    align-items: center;
    padding: 12px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
        position: sticky;
        top: 0;
        height: 90vh;
    }

    .filter-btn {
        display: none;
    }

    .filter-bar {
        display: none;
        position: relative;
        box-shadow: none;
    }
}
