.fondoimg{
    background-color: #fafafa;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    border: none;
}

.imgborder {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.colortext {
    color: #ffffff;
    font-size: 1.2rem;
}
.colorbtn{
    border: 3px solid white;
    border-radius: 5px;
    background-color: white;
}

.colorbtn:hover {
    background-color: #b74e6d;
    border-color: #a33e5d;
    color:#ffffff;
    
}

.events-section {
    background-color: #900c3f;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

}
h2{
    color: #900C3F;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
}

header {
    background-color: #900C3F;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}


@media (max-width: 576px) {
    .imgborder {
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;

    }

    .events-section {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 16px;
    }
}