.banner__main-page {
    width: 100%;
    height: 250px;
}

.banner__video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.banner__description {
    position: absolute;
    padding: 1rem;
    top: 28%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.banner__description h1 {
    color: #ffffff;
    text-align: center;
    font-size: 1.4rem;
}

.banner__description a {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-inline: auto;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.content-center {
    display: grid;
    place-content: center;
}

.fondoimg {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    border: none;
}

.imgborder {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.colortext {
    color: #ffffff;
    font-size: 1.2rem;
}
.colorbtn {
    border: 3px solid white;
    border-radius: 5px;
    background-color: white;
}

.colorbtn:hover {
    background-color: #b74e6d;
    border-color: #a33e5d;
    color: #ffffff;
}

.events-section {
    background-color: #900c3f;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
h2 {
    color: #900c3f;
}

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section {
    margin-bottom: 30px;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card-product__header {
    height: 300px;
}

.card-product__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-cart__image {
    background-color: #900c3f;
    display: flex;
    align-items: center;
    padding: 12px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

article a {
    text-decoration: none;
    color: #000000;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 768px) {
    .banner__main-page {
        height: 450px;
    }

    .banner__description {
        top: 40%;
    }

    .banner__description h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1500px) {
    .banner__description {
        top: 35%;
    }
}

@media (max-width: 576px) {
    .imgborder {
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
    }

    .events-section {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 16px;
    }
}
